.superinfo-bg{
    background-color: #122ab2;
    color: white;
}

.superinfo{
    max-width: 960px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo a, .superinfo p{
    margin: 0 10px 10px 10px;
}

.superinfo a{
    color: white;
}